.ant-modal-content {
    border: 2px solid #233232;
    border-radius: 5px;
    background-color: rgba(35, 50, 50, .95);
    padding-top: 5px;
}

.ant-modal-body {
    padding-bottom: 0px;
}

.ant-input{
    width: 380px;
}

.ant-form-item-submit {
    padding-right: 35px;
    text-align: right;
}

.ant-btn-primary {
    background-color:rgba(69, 100, 100, .95) !important;;
    border: 2px solid #2B3131;
}

.ant-form-item-label, .ant-form-item, .ant-form-item-required {
    color: #ececec !important;
    font-size: 14px !important;
    font-weight: bold;
}

.ant-input {
    height: 25px;
    font-size: 14px !important;
}

/*
dunkel grün: 2B3131
super dunkel grün: 1A2626
dunkel grau: 233232
grün: 456464
*/