/* Cusomt icon color: #26BD90 */
 
:root {
  font-size: 14px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #233232;
  --bg-secondary: #1A2626;
  --transition-speed: 600ms;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  border-right: 1px solid #000;
  transition: width 600ms ease;
  overflow: scroll;
  z-index: 1;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-logo {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: opacity(0.7);
  transition: var(--transition-speed);
  cursor: default;
}

.nav-logo:hover {
  filter: grayscale(0%) opacity(1);
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}


.link-text {
  display: none;
  top: 19px;
  width: 33px;
  border-radius: 50%;
  margin-left: 18px;
  cursor: pointer;
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.nav-icon {
  width: 2.5rem;
  min-width: 2rem;
  margin: 0 1.2rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.2rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    border-top: 1px solid #2B3131; 
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }

}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
    border-right: 1px solid #2B3131; 
    box-shadow: 3px 3px 7px #2B3131;
  }

  .nav-logo:hover .logo-text
  {
    left: 0px;
  }

}
