.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    vertical-align: middle; 
    padding: 10px 10px;
    width: 100%;
  }

.tag-input {
    margin: 4px;
    background: #2B3131;
    color: #ccc;
    border-style: dashed;
    padding-bottom: 2px;
    width: 78px;
    height: 22px;
    font-size: 12px;
  }
  
.ant-tag {
    margin: 3.5px 3px;
  }


.site-tag-plus {
    background: #2B3131;
    color: #ccc;
    border-style: dashed;
    border-color: #aaa;
  }

.edit-tag {
    background: #2B3131;
    color: #ccc;
    border-color: #aaa;
  }


.edit-tag {
    user-select: none;
  }
  