.Entries__Main {
    width: auto;
    display: flex;
    border: 0px solid red;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}