.Footer__Main {
    position: relative;
    bottom: 0;
    padding: 15px;
    width: 100%;
    min-height: 6vh;
    background-color: #456464;
    color: #ccc;
    text-align: center;
  }

.Footer__text {
  margin-left: 80px;
}

  a {
    color: #fff;
  }

  a:hover {
    color: #999;
  }