.entry-card {
  width: 350px;
  height: 327px; /* (350 x 0.75) + 65 */
  background-color: transparent;
  margin: 0px 15px 30px 15px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.entry-card__meta {
  background-color: #C0C4C4;
  color: #000;
  width: 350px;
  height: 65px;
  display: table-cell; 
  vertical-align: middle;
  font-size: 17px;
  border: 1px solid #000;
}

.entry-card__img {
  position: relative;
  width: 350px;
  height: 262px;
}


/* This container is needed to position the front and back side */
.entry-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.entry-card__img:hover .entry-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.entry-card-front, .entry-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
