.entry-card {
  width: 350px;
  height: 327px; /* (350 x 0.75) + 65 */
  background-color: transparent;
  margin: 0px 15px 30px 15px;
  font-size: 17px;
  text-transform: capitalize;
}

.entry-card__meta {
  background-color: #C0C4C4;
  color: #000;
  width: 350px;
  height: 65px;
  display: table-cell; 
  vertical-align: middle;
  border: 1px solid #000;
}

.entry-card__img {
  position: relative;
  width: 350px;
  height: 262px;
}

.entry-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 5px 5px 10px #2B3131;
  transform-origin: center right;
}

.entry-card-front, .entry-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.entry-card-front {
  cursor: pointer;
}

.entry-card-back {
  background-color: #2B3131;
  color: #fff;
  border: 1px solid #000;
  transform: rotateY(180deg);
}

.entry-card-back__header {
  width: 350px;
  height: 75px;
  font-size: 17px;
  display: table-cell; 
  vertical-align: top;
  padding: 15px 5px 0px 5px;
}

.entry-card-back__header-added {
  font-size: 10px;
} 

.entry-card-back__tags {
  color: #000;
  width: 350px;
  height: 125px;
  vertical-align: middle;
  padding: 0px 5px;
}

.entry-card-back__actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #000;
  width: 350px;
  height: 60px; 
  justify-content: space-evenly;  
  padding: 0px 15px 0px 15px;
}

.entry-card-back__play {
  background-color: #9A1817;
  color: #fff;
  width: 350px;
  height: 65px;
  display: table-cell; 
  vertical-align: middle;
  font-size: 20px;
  cursor: pointer;
}

.entry-card-back__play:hover {
  background-color: #67100F;
}