.entry-card {
  width: 350px;
  height: 327px; /* (350 x 0.75) + 65 */
  margin: 0px 15px 30px 15px;
}

.entry-card__meta {
  background-color: #C0C4C4;
  color: #000;
  width: 350px;
  height: 65px;
  display: table-cell; 
  vertical-align: middle;
  font-size: 17px;
  border: 1px solid #000;
}

.entry-card__img {
  position: relative;
  width: 350px;
  height: 262px;
}