.filter {
    vertical-align: bottom;
    margin: 0 auto;
    color: #ccc;
}

.filter-tag {
    color: #ccc;
    border-color: #aaa;
  }

.clickable {
    cursor: pointer;
}
  
.ant-drawer-body {
    background-color: #233232;
  }

.anticon-close {
    color: #ccc;
  }

.drawer__listtags {
    margin-left: 70px;
}