.filter {
    vertical-align: bottom;
    margin: 0 auto;
    color: #ccc;
}

.filter-tag {
    color: #ccc;
    border-color: #aaa;
  }
  
.ant-drawer-body {
    background-color: #1A2626;
    color: #fff;

  }

.anticon-close {
    color: #fff;
  }