@import '~antd/dist/antd.css';

.App {
  text-align: center;
  background-color: #456464;
}

.App-body  {
  background-color: #456464;
  min-height: 94vh;
  width: 100%;
  display: flex;
}

.Drawers-Wrapper  {
  background-color: #456464;
  position: relative;
  z-index: 0;
}


@media only screen and (max-width: 600px) {
  .App-body {
    padding-left: 0px;
  }
}

@media only screen and (min-width: 600px) {
  .App-body {  
    padding-left: 70px;
  }
}