.Button {
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 7px 6.5px 6px 6px;
    display: table-cell; 
    vertical-align: middle; 
    cursor: pointer;
}

.Button:hover {
    color: #333;
    background-color: #ccc;
}

.Button__check {
    background-color: green;
}

.Button__uncheck {
    padding: 8px 7px 6px 6px;
    background-color: #666;
}

.Button__delete {
    background-color: #cd201f;
}